body {
    background-color: #065F11; 
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: rgb(221, 221, 221);
    width: 70%;
}

button {
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #5F7C3A; 
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4a612d; 
}

section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.CardAlimento {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    width: 200px;
}

.CardAlimento img {
    width: 150px;
    height: 150px;
}

.InfoAlimento {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    width: 60%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
}

.botaoTabela {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .botaoTabela:hover {
    background-color: #45a049;
  }